body {
  font-family: comic sans, roboto, arial;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  background-color: red;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 16%;
  vertical-align: middle;
  align-items: center;
  height: 50px;
  margin-right: 3%;
}

.profilepic {
  width: 80px;
}

.title,
.subtitle {
  margin: 0;
  padding-top: 1%;
  margin-right: 2%;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 0;
  margin-bottom: 0;
}

.tilepokemon {
  border: 1px solid black;
  margin: 1%;
  text-align: center;
  height: 150px;
  overflow: hidden;
  width: 25%;
}
.tilepokemon:hover .divtile {
  display: none;
}

.divtile {
  height: 150px;
}

.buttons_block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  vertical-align: middle;
  margin-bottom: 5%;
  margin-top: 3%;
}

.buttons {
  background-color: white;
  border: 2px solid black;
  border-radius: 0px;
  padding: 5px;
  margin: 0;
  transition: background-color 0.2s, box-shadow 0.2s, border;
}

.buttons:hover {
  background-color: red;
  box-shadow: 1px 1px 3px 2px #000000;
}

.buttons:active {
  border: 3px solid black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form_container {
  box-shadow: 12px 12px 17px 5px rgba(0, 0, 0, 0.46);
  width: 20%;
  padding: 3%;
  margin: 0 auto;
}

form {
  text-align: center;
}

.playbutton {
  font-size: 38px;
  border: 6px solid black;
  padding: 2%;
  margin-left: 35vw;
}

.ulpokemonstarter {
  width: 30%;
}

.tilepokemonstarter {
  border: 1px solid black;
  margin: 1%;
  text-align: center;
  height: 150px;
  overflow: hidden;
  width: 80%;
}

.tilepokemonstarter:hover .divtile {
  display: none;
}

.ulpokemonstarterchoosen {
  width: 30%;
  margin-left: 35vw;
}

.startbutton, .attack_button {
  background-color: white;
  border: 2px solid black;
  border-radius: 0px;
  padding: 10px 20px 10px 20px;
  margin-top: 6%;
  margin-right: 20%;
  transition: background-color 0.2s, box-shadow 0.2s, border;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
}

.startbutton:hover {
  background-color: red;
  box-shadow: 1px 1px 3px 2px #000000;
}

.cases {
  background-size: 24px;
  height: 48px;
  width: 48px;
  padding: 0;
}

.map {
  border-spacing: 0px;
  margin: 0 auto;
}

.chara {
  height: 60px;
  width: 60px;
  display: block;
  margin: 0 auto;
}

.message_attack{
  font-size: 36px;
  font-weight: bold;
}

.popattack_container{
  margin: 0 auto;
}

.centerimg{
  display: block;
  margin-left: auto;
    margin-right: auto;
}

.combat_container{
  margin: 0 auto;
  border: 4px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 40%;
  height: 60%;
}

.ennemy_block, .mypkmon_block{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items : center;
  margin-bottom: 6%;
  margin-top: 5%;
}

.ennemyHP, .mypkmonHP{
  width: 40%;
}

.ennemypic, .starterpic{
  width: 144px
}

div.barre_contenant,div.barre_dynamique  {
  border-radius: 4px;
      -moz-border-radius: 4px;
      height: 12px;
}
div.barre_contenant {
  font-size:0.1em;
      border: 1px solid black;
  width: 270px;
}
div.barre_contenant { background: #f00 }
div.barre_dynamique { background: #0f0 }

.HP_attacks_block{
  display: flex;
  flex-direction: column;
}

.attacks_block{
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-evenly;
}

.attack_button{
  margin: 1% 2% 1% 2%;
  width:  110px;
  padding: 1%;
}

.HP_block_my{
  margin: 0;
  width: 70%;
  padding-left: 11%;
}